#bigbox {
  background-image: url('/images/background6.png');
  background-position: center center;
  height:80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:0.5%;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(56,56,55);
}
.us{
direction: ltr;
text-align: center;
}
.row{
  display:table;
  width: 100%;
}
.column{
  display:table-cell;
}
#trinh{
  width: 33vw;
}
#morgana{
  width: 33vw;
}
#baukje{
  width: 33vw;
}

@media screen and (orientation: landscape) {
.circle{
  border-radius:50%;
  /* height:20vw; */
  height: 15vw;
  border: solid 0.5vw white;
}
h2 {
  font-family: 'Capriola', sans-serif;
  font-size: 4vw;
}
.github {
  width: 10vh;
 }

 .linkedin {
   width: 5vh;
 }
 p {
    font-size: 1.3vw;
}
h3 {
  font-size: 2vw;
}
}

@media screen and (orientation: portrait) {
  .circle{
    border-radius:50%;
    border: solid 0.5vh white;
    width: 20vh;
  }
  h2 {
    font-family: 'Capriola', sans-serif;
    font-size: 4vh;
  }
  .github {
    width: 10vw;
   }

   .linkedin {
     width: 5vw;
   }
   p {
    font-size: 1.3vh;
  }
  h3 {
    font-size: 2vh;
  }
  }


#footer {
    text-align: center;
    bottom: 0;
    font-family: 'Merriweather Sans', sans-serif;

}
#navbar {
 background: white;
 color: rgb(13, 26, 38);
 top: 0;
 height: 60px;
 line-height: 60px;
 width: 100vw;
 z-index: 10;
 font-family: 'Merriweather Sans', sans-serif;

}

.nav-wrapper {
 margin: auto;
 text-align: center;
 width: 70%;
}

@media(max-width: 768px) {
 .nav-wrapper {
   width: 90%;
 }
}

@media(max-width: 638px) {
 .nav-wrapper {
   width: 100%;
 }
}
.logo {
 float: left;
 margin-left: 28px;
 font-size: 1.5em;
 height: 60px;
 letter-spacing: 1px;
 text-transform: uppercase;
}

@media(max-width: 768px) {
 .logo {
   /*       margin-left: 5px; */
 }
}

#navbar ul {
 display: inline-block;
 float: right;
 list-style: none;
 margin-top: -2px;
 text-align: right;
 transition: transform 0.5s ease-out;
 -webkit-transition: transform 0.5s ease-out;
}

@media(max-width: 640px) {
 #navbar ul {
   display: none;
 }
}

@media(orientation: landscape) {
 #navbar ul {
   display: inline-block;
 }
}

#navbar li {
 display: inline-block;
}

#navbar li a {
 color: rgb(13, 26, 38);
 display: block;
 font-size: 0.7em;
 height: 50px;
 letter-spacing: 1px;
 margin: 0 20px;
 padding: 0 4px;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
 transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
 /* border-bottom: 1px solid rgb(28, 121, 184); */
 color: rgb(28, 121, 184);
 transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
 content: '';
 position: absolute;
 width: 0%;
 height: 1px;
 bottom: -1px;
 background: rgb(13, 26, 38);
}

#navbar li a:before {
 left: 0;
 transition: 0.5s;
}

#navbar li a:after {
 background: rgb(13, 26, 38);
 right: 0;
 /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
 background: rgb(13, 26, 38);
 width: 100%;
 transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
 background: transparent;
 width: 100%;
}

#logoimg {
 height: 80%;
 display: flex;
 padding-top: 10px;
}

#menu li{
 font-size: 24px;
 font-weight: bold;
}
