* {
  padding: 0px;
  margin: 0px;
}

#age1 {
  background-color: #FFFC19;
  background-image: linear-gradient(#FFFC19, rgb(255, 253, 115));
  min-height: 27vh;
  border-radius: 10px;
}

#age2 {
  background-color: rgb(255, 0, 0);
  background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 78, 78));
  min-height: 27vh;
  border-radius: 10px;
}

#age3 {
  background-color: #1485CC;
  background-image: linear-gradient(#1485CC, rgb(40, 171, 252));
  min-height: 27vh;
  border-radius: 10px;
}

#agebooksection {
  margin-right: 10vw;
  margin-left: 10vw;
}


/* For portrait orientation: */
@media screen and (orientation:portrait) {
  .book img {
    height: 8vh;
    width: 8vh;
    border-radius: 10px;
    margin: 1vh;
  }

  .book {
    display: flex;
    margin-top: 3vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  .divtitle {
    font-family: 'Capriola', sans-serif;
    font-size: 3vh;
    padding-left: 15vw;
  }

}

/* For landscape orietation: */
@media screen and (orientation:landscape) {
  .book img {
    height: 10vw;
    width: 10vw;
    border-radius: 10px;
    margin: 1vw;
  }

  .divtitle {
    font-family: 'Capriola', sans-serif;
    font-size: 3vw;
    padding-left: 15vw;
  }

  .book {
    display: flex;
    margin-top: 3vh;
    flex-wrap: wrap;
    justify-content: center;
  }

}