@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	height: 100%;
	padding: 0;
  	font-family: 'Merriweather Sans', sans-serif;

}
h1{
	font-weight: normal;
	font-size: 50px;
	font-family: 'Capriola', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #F90;
	text-align: center;

}

#form{
	height: 100%;
	width: 100%;
	background-color: #1485CC;
	overflow: hidden;
	position: relative;
	padding-bottom: 6%;
	border: none;
	border-radius: 10px;

}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 0px;
	color: white;
	position: relative;
	border-radius: 10px;
}
label, input {
	display: block;
}
input {
	width: 500px;
	border: none;
	border-radius: 10px;
	outline: none;
	padding: 10px;
	font-family: 'Capriola', sans-serif;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	box-sizing:border-box;

}

.buttons{
padding-left: 15vw;
background-color: #F90;
color: white;
height: 50px;
width:150px;
text-align:center;
cursor: pointer;
margin-top:30px;
margin-bottom: 30px;
font-size: 1.1em;
font-family: 'Sniglet', cursive;
-webkit-transition: background-color 0.5s;
-moz-transition: background-color 0.5s;
-o-transition: background-color 0.5s;
transition: background-color 0.5s;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	width:180px;
	text-align:center;
	cursor: pointer;
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: 32%;
	font-size: 1.1em;
	font-family: 'Capriola', sans-serif;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
}

input[type="submit"]:disabled {
	color:white;
	background-color: grey;
}

label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
	text-align: left;
}

.registerform {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.field-error {
	color: red;
	font-size: 13px;
}

#login {
	color: white;
	font-size: 1em;
	font-family: 'Capriola', sans-serif;
}



