<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/about.css" />
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">
    <section id="nav">
        <%- include('header'); -%>
    </section>

    <section id="bigbox">

<!-- Team Container -->
<div class="us" id="team">
<h2>OUR TEAM</h2>
<p>Meet the team:</p>

<div class="row"><br>

<div class="column">
  <img src="/images/trinh.jpeg" alt="Boss" style="width:55%" class="circle">
  <h3>Trinh</h3>
  <p>...</p>
  <a href="https://www.linkedin.com/in/tutrinhnguyenha/">LinkedIn</a><br>
  <a href="https://github.com/Trinhgin">GitHub</a>
</div>

<div class="column">
  <img src="/images/morgana.jpeg" alt="Boss" style="width:55%" class="circle">
  <h3>Morgana</h3>
  <p>...</p>
  <a href="https://www.linkedin.com/in/morgana-f-sá-maia/">LinkedIn</a><br>
  <a href="https://github.com/morganafsmaia">GitHub</a>
</div>

<div class="column">
  <img src="/images/baukje.jpeg" alt="Boss" style="width:55%" class="circle">
  <h3>Baukje</h3>
  <p>...</p>
  <a href="https://www.linkedin.com/in/baukje-knol/">LinkedIn</a><br>
  <a href="https://github.com/Baukje-Knol">GitHub</a>
</div>

</div>
</div>
    </section>
    <section id="footer">
        <%- include('footer'); -%>
    </section>
</body>

</html>
