<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/about.css" />
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">
    <section id="nav">
        <%- include('header'); -%>
    </section>

    <section id="bigbox">

<!-- Team Container -->
<div class="us" id="team">
<h2>Meet the team:</h2>

<div class="row"><br>

<div class="column" id="trinh">
  <img src="/images/trinh.jpeg" alt="Boss" style="width:55%" class="circle">
  <h3>Trinh</h3>
  <p>    I love food and I love coding.   </p>
  <a href="https://www.linkedin.com/in/tutrinhnguyenha/"><img class="linkedin" src="/images/linkedinlogo.png"></a>
  <a href="https://github.com/Trinhgin"><img class="github" src="/images/GitHub_Logo.png"></a>
</div>

<div class="column" id="morgana">
  <img src="/images/morgana.jpeg" alt="Boss" style="width:55%" class="circle">
  <h3>Morgana</h3>
  <p>      Human and life apprentice.      </p>
  <a href="https://www.linkedin.com/in/morgana-f-sá-maia/"><img class="linkedin" src="/images/linkedinlogo.png"></a>
  <a href="https://github.com/morganafsmaia"><img class="github" src="/images/GitHub_Logo.png"></a>
</div>

<div class="column" id="baukje">
  <img src="/images/baukje.jpeg" alt="Boss" style="width:55%" class="circle">
  <h3>Baukje</h3>
  <p>Enthusiastic, enigmatic and dedicated.</p>
  <a href="https://www.linkedin.com/in/baukje-knol/"><img class="linkedin" src="/images/linkedinlogo.png"></a>
  <a href="https://github.com/Baukje-Knol"><img class="github" src="/images/GitHub_Logo.png"></a>
</div>

</div>
</div>
    </section>
    <section id="footer">
        <%- include('footer'); -%>
    </section>
</body>

</html>
