<!DOCTYPE html>
<html>

<head>

    <title>Login</title>
    <script type="text/javascript" src="/js/validate.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- https://codepen.io/adam2326/pen/VYMOdx -->
    <!-- https://codepen.io/erlenmasson/pen/azVZXQ -->
    <!-- https://codepen.io/geertjanhendriks/pen/nztgv -->
</head>

<body>
    <section id="nav">
        <%- include('loginheader'); -%>
    </section>
    <section class="loginform">
            
        <h1>Login</h1>
        <br>

        <% if (loginFailed) { %>
            <h1 id="loginFailed">Oops! Please try again :)</h1>
            <% } %>

        <form id="loginform" name="login" action="/login" method="POST" autocomplete="off">

            <div>
                My
                <label for="email">email address</label> is
                <input type='email' name='email' id="email-field" placeholder='(your email address)' /> and
                <p class="field-error" id="emailvalidation"></p>
            </div>
            
            <div>
                my 
                <label for="password">password</label> is
                <input type='password' name='password' id="password-field" placeholder='(your password)' />
                <p class="field-error" id="passwordvalidation"></p>
            </div>
            <br>

            <input id="loginbutton" type="submit" value="Login">
        </form>
        <br>

        <p>Don't have an account?</p>
       
        <section id="register">
            <form action="/register">
                <input id="registerbutton" type="submit" value="Register" />
            </form>
        </section>
        <br>
    </section>
        <%- include('footer'); -%>

    <script type="text/javascript">
        var validator = new FormValidator('login',
            [
                {
                    name: 'email',
                    rules: 'required|valid_email'
                }, {
                    name: 'password',
                    rules: 'required|min_length[8]'
                }
            ],
            function errorMessage(errors, event) {
                if (errors.length > 0) {
                    event.preventDefault()
                    $(".field-error").empty()

                    for (var i = 0; i < errors.length; i++) {
                        console.log(`Error ${i}: ${JSON.stringify(errors[i], null, 2)}`)
                        var error = errors[i]
                        $(`#${error.id}`).next().html(error.message)
                    }
                }
            });

    </script>

</body>

</html>