<!DOCTYPE html>
<html>

<head>

    <title>Login</title>
    <script type="text/javascript" src="/js/validate.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <section id="nav">
        <%- include('loginheader'); -%>
    </section>

    <section class="loginform">

        <div id="form">

            <% if (loginFailed) { %>
            <h2 id="oops">Oops! Please try again :)</h2>
            <% } %>

            <h1>Login</h1>
            <br>
            <div class="owl">
                <div class="hand"></div>
                <div class="hand hand-r"></div>
                <div class="arms">
                    <div class="arm"></div>
                    <div class="arm arm-r"></div>
                </div>
            </div>

            <div class="form">
                <form class="loginform" name="login" action="/login" method="POST" autocomplete="off">
                    <div class="control">
                        <label for="email" class="fa fa-envelope"></label>
                        <input id="email" name="email" placeholder="Email" type="email">
                        <p class="field-error"></p>
                    </div>
                    <div class="control">
                        <label for="password" class="fa fa-asterisk"></label>
                        <input id="password" name="password" placeholder="Password" type="password">
                        <p class="field-error"></p>
                        <input id="loginbutton" type="submit" value="Login">
                    </div>
                </form>
                <p id="text">Don't have an account?</p>
                <br>
                <a class="registerbutton" href="/register">Register</a>
            </div>

        </div>
    </section>
    </div>
    <br>
    <br>
    <div>
        <%- include('footer'); -%>
    </div>
    <script type="text/javascript">
        var validator = new FormValidator('login',
            [
                {
                    name: 'email',
                    rules: 'required|valid_email'
                }, {
                    name: 'password',
                    rules: 'required|min_length[8]'
                }
            ],
            function errorMessage(errors, event) {
                if (errors.length > 0) {
                    event.preventDefault()
                    $(".field-error").empty()

                    for (var i = 0; i < errors.length; i++) {
                        console.log(`Error ${i}: ${JSON.stringify(errors[i], null, 2)}`)
                        var error = errors[i]
                        $(`#${error.id}`).next().html(error.message)
                    }
                }
            });

    </script>

</body>

</html>


<!-- <form class="loginform" name="login" action="/login" method="POST" autocomplete="off">
                <div>
                    My
                    <label for="email">email address</label> is
                    <input id="email-field" type='email' name='email' placeholder='(your email address)' /> and
                    <p class="field-error"></p>
                </div>

                <div>
                    my
                    <label for="password">password</label> is
                    <input id="password-field" type='password' name='password' placeholder='(your password)' />
                    <p class="field-error"></p>
                </div>

                <input id="loginbutton" type="submit" value="Login">
            </form>

            <p id="text">Don't have an account?</p>
            <br>
            <a class="registerbutton" href="/register">Register</a>

            </div>
        </div>
    </section>

            <div>
                <%- include('footer'); -%>
            </div> -->