<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Subscription</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./css/subscription.css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">

</head>

<body>

  <section id="nav">
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <div class="logo">
          <img id="logoimg" src="./images/logo.png">
        </div>

        <ul id="menu">
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>

  </section>
  <section id="wrapper">
    <div class="container">
      <h1>Get all books for €4.99 / month. </h1>
      <section id="form">
        <form action="/subscription" method="POST" autocomplete="off">
          <div class="container2">
            <h2 class="title">Credit Card Information</h2>
            <table>
              <tr>
                <td>
                  <label >Card Number</label><br/>
                  <input type="text" id="cardnumber" minlength="16"maxlength="16" class="cnumber" name="cardnumber" required placeholder="****************">

                  </td>
                <td>
                  <label >CVV</label><br/>
                  <input type="text" id="cvv" maxlength="4" minlength="3" required name="cvv" class="scode" placeholder="****">

                  </td>
              </tr>
              <tr>
                <td>
                  <label >Name on card</label><br/>
                  <input type="text" class="name" id="owner" required name="owner" placeholder="Will Smith">

                  </td>
                <td>
                  <label >Expiration date</label><br/>
                  <input type="text" id="expiration" pattern="(0[1-9]|1[012])/[0-9]{2}" class="expieration" value="" required="" name="expiration" placeholder="MM/YY">

                  </td>
              </tr>
            </table>
            <button class="button">Submit</button>

          </div>
        </form>
      </section>
      <section id="back">
        <button type="button" class="back"><a href="/freebooks"> < --- Go back to free books</a></button>
      </section>

      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </section>

  <section id="footer">
    <p>© 2018 Geniue</p>
  </section>
  <script type="text/javascript">
    // Navigation
    // Responsive Toggle Navigation =============================================
    let menuIcon = document.querySelector('.menuIcon');
    let nav = document.querySelector('.overlay-menu');

    menuIcon.addEventListener('click', () => {
      if (nav.style.transform != 'translateX(0%)') {
        nav.style.transform = 'translateX(0%)';
        nav.style.transition = 'transform 0.2s ease-out';
      } else {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
      }
    });


    // Toggle Menu Icon ========================================
    let toggleIcon = document.querySelector('.menuIcon');

    toggleIcon.addEventListener('click', () => {
      if (toggleIcon.className != 'menuIcon toggle') {
        toggleIcon.className += ' toggle';
      } else {
        toggleIcon.className = 'menuIcon';
      }
    });
  </script>

</body>

</html>
